settings = exports;

settings.PORT = 8010;
settings.COUCHDB_HOST = "localhost";
settings.COUCHDB_PORT = 5984;
settings.COUCHDB_DATABASE = "mapchat";
settings.COUCHDB_AUTH = {username:"", password:""};
